**/Debug
**/Release/
*.settings/
.ccsproject
.cproject
.project
msp432p4111.cmd
*/Release/
*/.xdchelp
**/.config
**/.config/
*/.launches
**/.launches/
*/targetConfigs
**/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
